body, span, .cpuInfo, .userInfo, #cpuSelection, #userSelection, .selector, .cpuScoreTracker, .playerScoreTracker, .buttonArray, .user, .cpu, .selectionArray, .cpuSelection, .userSelection, #intro{
    display: flex;
}

.selector, .cpuInfo, .userInfo, body{
    flex-direction: column;
}
span, #intro, .scoreTracker{
    width: 600px;
    height: 200px;
}

button{
    height: 120px;
    width: 120px;
    background-color: white;
    padding: 10px;

}
.cpuInfo, .userInfo, .selector{
    justify-content: space-evenly;
}

span > .title{
    font-weight:bolder;
    font-size: 55px;

}
.userSelection, .playerSelection, .user, .cpu, .selectionArray{
    justify-content:space-around;
}
#intro{
    flex-wrap: wrap;
    font-size: 30px;

    
}
.scoreTracker, .user, .cpu{
    border: solid black;
}

.selector{
    margin: 30px;
}

.buttonArray{
    max-width: 500px;
    font-size: 35px;
    padding-top: 40px;
}


.user, .cpu, .selectionArray{
    flex-direction: row;
    
}

#cpuSelection, #userSelection, body, span, #intro, .scoreTracker{
    align-items: center;
    justify-content: center;
}

.user, .cpu{
    width: 400px;
    margin: 15px;
    
}

.userPic, .cpuPic{
    width: 150px;
}
body{
    background-color: grey;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}